.connectButton {
    float: right;
    border-radius: 20px;
    border: none;
    padding: 20px; 
    margin: 25px;
    opacity: 0.8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.connectButton:hover {
    background-color: #1e1e1e; /* Green */
    color: rgb(219, 219, 219);
}
.accountActive{
    background-color:#140029; 
    color: wheat   
}
body{
    background-color: #100021;
}
.logo{
    margin:10px;
}
.Navbar{
    
    display: flex;
}
.ConnectButton{
    padding-top: 30px;
    margin-left: auto;
}
h3{
    
    color: rgb(137, 137, 137);
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}
