body {
    background-color: #100021;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    border-color: #fff;
}
button {
    background-color: #190034;
    color: #e1e1e1;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-color: #2b0073;
}

button :hover {
    background-color: blue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: wheat;
    text-align: center;
}

.logo {
    margin: 10px;
}

.Navbar {
    display: flex;
}

.ConnectButton {
    padding-top: 30px;
    margin-left: auto;
}

.textArea {
    text-align: center;
    /* margin: auto; */
}

.custom-file-upload {
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
}

.choose {
    text-align: center;
    padding: 20px;
}

#drop_zone {
    padding: 20px;
    border-radius: 20px;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(64, 64, 64);
    background-color: #190034;
    color: white;
    margin: auto;
    width: 40%;
    height: 200px;
}

#drop_zone:hover {
    opacity: 0.8;
}

input[type='file'] {
    display: none;
}

.dragndrop {
    text-align: center;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    /*   padding: 20px; */
    margin: auto;
    background-color: #d6d6d6;
    border-radius: 10px;

}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card .top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 40px solid #100021;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #100021;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 10px;
}

.wrapper {
    padding: 30px;
    display: flex;
}

.ipfs {
    margin-top: 15px;
    margin-left: 10px;
}

.name {
    margin-top: 30%;
    margin-left: 10px;
}

.extension {
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    height: 50px;
    width: 100%;
    color: black;
    opacity: 0.2;
}

.loading {

    margin: auto;
    color: wheat;
}

.bar {
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 25px;
    display: flex;
    box-sizing: border-box;
}
#hideNavbar{
    display: none;
    /* margin: auto; */
    /* text-align: center; */
    /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.Navbar{
    text-align: center;
    margin: auto;
    color: antiquewhite;
    
}

#internal{
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}


.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .30);
    background: #1c003d;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#username{
    text-align: center;
    width: 60%;
    padding: 10px;
    height: 20px;
    margin: 15px;
    border:0;
    box-shadow:0 10px 15px 4px rgba(0,0,0,0.06);
}

#email{
    margin: 15px;
    padding: 10px;
    text-align: center;
    border:0;
    box-shadow:0 10px 15px 4px rgba(0,0,0,0.06);
}

.access{
    border: 2px solid #fff;
    background-color: #190034;
    color: white;
    padding: 12px;
    cursor: pointer;
    margin: 15px;
}

#cross{
    float: right;
    text-decoration: none;
}

.upload{
    margin: 10px;
}
a{
    color:#ffffff;
}

#push-right{
    margin-left: 5px;
}
